.card {

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

  transition: all 600ms;
  background: #f5f5f5;

  &:hover {
    transform: scale(1.1);

    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.18), 0 1px 10px 0 rgba(0,0,0,0.14), 0 2px 4px -1px rgba(0,0,0,0.3);

  }

  .card_image {

    position: relative;

    .card_title {

      position: absolute;
      background-color: white;

      bottom: 1%;
      left: 4%;
      padding: .1em .5em;

      text-transform: capitalize;

    }

  }
  .card_content {

    padding: 1em 1em;

    p {

      margin: 0;

    }

  }

  .card_action {

    padding: 0 1em;
    text-align: right;

  }

}
