// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .main__title {
    font-size: 2.5em;
  }
  .height {
    height: 400px;
  }
  select#lang {
    display: block;
  }

  .сurrencies_form {
  	padding: 20px 50px 20px 50px;
  	max-width: 90%;
    li {
      width: 100%;
    }
    .filed_wrapper {
      max-width: 90%;
    }
  }

  .countDown {
    height: 700px;
    .countDown__content {
      &-title {
        font-size: 1.5em;
      }
      .countDown__contDown {
        font-size: 2em;
      }
    }
  }

  .statistics {
    .statistics__progress {
      p {
        top: 60.5%;
        font-size: 1em;
      }
      .checkpoint {
        p {
          display: none;
        }
      }

      div.progressBar {
      	font-size: 1em;
      }
    }
  }

  .faq {
    font-size: 1.3em;
  }

  .table, .faq {
    &:after {
      display: none;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

  body {
    background-image: none;
  }

  .statistics {
    .statistics__progress {
      p {
        top: 55.3%;
        font-size: 1.5em;
      }
      div.progressBar {
      	font-size: 1.5em;
      }
    }
  }

  .faq {
    font-size: 1.1em;  }



}
@media only screen and (min-width:600px) {
  .сurrencies_form {
    li {
      width: auto;
    }
  }
}


@media only screen and (min-width:768px) {

  body {
    background-image: url('../images/shape.png');
  }

  select#lang {
    display: none;
  }
  .main__title {
    font-size: 3.5em;
  }
  .table, .faq {
    &:after {
      display: block;
    }
  }



}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .height {
    height: 600px;
  }

  .countDown {
    height: 800px;
    .countDown__content {
      &-title {
        font-size: 2em;
      }
      .countDown__contDown {
        font-size: 3.5em;
      }
    }
  }

  .statistics {
    .statistics__progress {
      .checkpoint {
        p {
          display: block;
        }
      }
    }
  }

  .сurrencies_form {
    max-width: 893px;
    .filed_wrapper {
      max-width: 70%;
    }
  }


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .сurrencies_form {
    .filed_wrapper {
      max-width: 50%;
    }
  }

  .height {
    height: 800px;
  }
  .countDown {
    height: 900px;
    .countDown__content {
      &-title {
        font-size: 2.5em;
      }
      .countDown__contDown {
        font-size: 4em;
      }
    }
  }

}

@media only screen and (max-width : 1300px) {
  .сurrencies_form {
    max-width: 1000px;
  }
}
