// Tables
//––––––––––––––––––––––––––––––––––––––––––––––––––

th,
td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid $light-grey;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr {
  transition: all 600ms;
  &:hover {
    background-color: #484356;
  }
  &:nth-child(2n) {
    background-color: rgba(72, 67, 85,0.4);
    &:hover {
      background-color: #484356;
    }
  }
}

thead {
  background-color: rgba(72, 67, 85,0.4);
}
