.about {
  padding-top: 80px;
  padding-bottom: 6em;
  color: #d4d3d5;
  p {
    font-size: 1.3em;
    font-weight: 100;
  }
  .about__content {
    padding: 1em 0;
  }
  .img-responsive {
    margin: 0 auto;
  }
  .icon {
    // width: 80px;
    height: 103px;
  }
  .col {
    text-align: center;
    padding: 2em 0;
    h3 {
      font-weight: 100;
      padding-top: .3em;
    }
  }
  .btn {
    text-align: center;
  }
}
