.countDown {
  @extend .bg;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .countDown__logo {
    position: relative;
    margin: 0 auto;
    width: 10%;
    height: 10%;
    z-index: 3;
  }
  .countDown__content {
    position: relative;
    z-index: 2;
    font-weight: 100;
    p {
      margin: 0;
    }
    &-title {
      padding: 1em 0;
      // font-size: 2.5em;
      text-transform: uppercase;
    }
    &-subTitle {
      font-size: 1.8em;
    }
    .countDown__contDown {
      // font-size: 5em;
    }
  }
}
