.faq {
  padding-top: 80px;
  padding-bottom: 3em;
  position: relative;
  .row {
    padding-top: 1em;
  }
  .faq__title {
    text-align: center;
    padding: 1em 0;
  }
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }

  .no-select, h2 {
    user-select: none;
  }
  h5 {
    line-height: 34px;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 1.3em;
    display: block;
    color: white;
    margin: 0;
    cursor: pointer;
  }
  p {
    color: white;
    font-size: 17px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
  }

  ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 3;
    li {
      position: relative;
      padding: 0;
      margin: 0;
      padding-bottom: 4px;
      padding-top: 18px;
      &:nth-of-type(1) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(2) {
        animation-delay: 0.75s;
      }
      &:nth-of-type(3) {
        animation-delay: 1s;
      }
      &:last-of-type {
        padding-bottom: 0;
      }
      i {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 16px;
        right: 0;
        &:before, &:after {
          content: "";
          position: absolute;
          background-color: white;
          width: 5px;
          height: 9px;
        }
        &:before {
          transform: translate(-2px, 0) rotate(45deg);
        }
        &:after {
          transform: translate(2px, 0) rotate(-45deg);
        }
      }
      input[type=checkbox] {
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
      }
      input[type=checkbox]:checked ~ p {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        transform: translate(0, 50%);
      }
      input[type=checkbox]:checked ~ i:before {
        transform: translate(2px, 0) rotate(45deg);
      }
      input[type=checkbox]:checked ~ i:after {
        transform: translate(-2px, 0) rotate(-45deg);
      }
    }
  }

  @keyframes flipdown {
    0% {
      opacity: 0;
      transform-origin: top center;
      transform: rotateX(-90deg);
    }
    5% {
      opacity: 1;
    }
    80% {
      transform: rotateX(8deg);
    }
    83% {
      transform: rotateX(6deg);
    }
    92% {
      transform: rotateX(-3deg);
    }
    100% {
      transform-origin: top center;
      transform: rotateX(0deg);
    }
  }

  footer {
    text-align: center;
    position: relative;
    z-index: 3;
    p {
      color: white;
      padding: .5em 0;
    }
    .copyright {
      font-weight: 100;
    }
    .soc_icons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 4em;
      padding-bottom: 1em;
      a {
        width: 52px;
        height: 52px;
        text-align: center;
        font-size: 36px;
        color: white;
        border-radius: 50%;
        border: 2px solid;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        transition: all 600ms;
        text-decoration: none;
        &:hover {
          color: #9E7DB1;
        }
      }
    }
  }

  &:after {
    content: "";
    width: 65%;
    height: 100%;
    background-image: url("../images/bottom_shape.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
  }


}
