.main__title {
  text-align: left;
  text-transform: capitalize;
  position: relative;
  color: #d4d3d5;
  // font-size: 3.5em;
  font-weight: 100;
  z-index: 3;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 1px;
    background: white;
  }
}

/* Styles for dialog window */
.сurrencies_form {
  border-radius: 25px;
	background: #14092a;
	// padding: 20px 50px 20px 50px;
	text-align: left;
	// max-width: 70%;
	margin: 40px auto;
	position: relative;
  z-index: 3;
  .form {
    // сurrencies

    color: white;
    // optional
    select.image-picker.show-labels {
      display: none !important;
    }

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: .7em;
      p {
        margin: 0;
        font-size: 1.1em;
        text-transform: capitalize;
        padding-left: .5em;
      }
    }

    .image_picker_selector {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
      .thumbnail {
        width: 95%;
        background-color: #3A373A;
        border: 1px solid #3A373A;
        margin: .3em .3em;
        padding: .5em 0;
        text-align: center;
        transition: all 600ms;
        span {
          font-size: 1.2em;
        }
        p {
          margin: 0;
        }
        img {
          -webkit-user-drag: none;
        }
        .image_picker_image {
          width: 28%;
        }
      }
      .thumbnail.selected {
        box-shadow: 0 1px 3px rgba(158, 158, 158,0.12), 0 1px 2px rgba(158, 158, 158,0.24);
        border: 1px solid rgba(128, 128, 128, 1);
        background-color: rgba(128, 128, 128, 0.3);
      }
    }
    // End
    input {
      margin: 1em 0;
      text-align: center;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      text-align: center;
      color: white;
    }
    .button-primary {
      background-color: #14092a;
      border: 1px solid white !important;
      border: none;
      color: white;
      font-size: 1em;
      letter-spacing: 3px;
      text-transform: capitalize;
      transition: all 600ms;
      &:hover {
        background-color: rgb(68, 48, 79);
      }
    }
  }
}


/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
