.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}


@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  z-index: 9;
  .dropdown {
    color: white;
    position: relative;
    .lang {
      position: absolute;
      top: -5px;
      left: 0;
      width: 35px;
      height: 35px;
    }
  }
  .dropdown .dropdown-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    padding: .6em 1em;
    margin-right: 1.5em;
  }
  .dropdown .dropdown-menu {
    top: 80%;
  }
  .dropdown .dropdown-menu li {
    a {
      display: flex;
      position: relative;
      height: 30px;
      img {
        position: absolute;
        top: -3px;
        right: -30px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.header .header__logo {
  position: absolute;
  top: -20px
}

.header .header__logo img {
  width: 100%
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  z-index: 9;
  line-height: 66px;
  color: #fff;
  background: #14092a;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .dropdown {
    color: white;
    position: relative;
    .lang {
      position: absolute;
      top: 25%;
      right: 0;
      width: 35px;
      height: 35px;
    }
  }
  .dropdown .dropdown-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    padding: 0;
    height: 60px;
  }
  .dropdown .dropdown-menu {
    top: 80%;
  }
  .dropdown .dropdown-menu li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 30px;
      p {
        padding-top: 1.3em;
      }
      img {
        position: absolute;
        bottom: 0;
        right: -30px;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.fixed .header__logo {
  float: left;
  position: absolute;
  top: -5px
}

.fixed .header__logo img {
  width: 80%
}

.menu {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  padding: 0 10px;
  color: white;
}

.menu a:hover {
  color: #c5cae9
}

@media only screen and (max-width:768px) {
  .site-container, .site-pusher {
    position: fixed;
    width: 100%;
    height: 100%
  }
  .site-container {
    overflow: hidden
  }
  .site-pusher {
    -webkit-transition: all 600ms;
    -o-transition: all 600ms;
    transition: all 600ms;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px)
  }
  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
  }
  .fixed, .header {
    background: #14092a;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    top: 66px
  }
  .fixed .header__logo, .header .header__logo {
    position: absolute;
    left: 35%;
    top: 10%;
    margin-top: 10px;
  }
  .fixed .header__logo img, .header .header__logo img {
    width: 70%
  }
  .header {
    top: 0;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #30333B;
    width: 200px;
    height: 100vh;
    -webkit-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px)
  }
  .menu a {
    display: none;
    height: 40px;
    text-align: center;
    line-height: 40px
  }
  .menu .dropdown  {
    display: none;
  }
  .menu a:nth-child(7) {
    margin-top: 1.8em;
    display: block;
    border-bottom: 1px solid white
  }
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px)
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6)
  }
}
