.statistics {
  color: white;
  padding-bottom: 3em;
  .statistics__progress {
    position: relative;
    z-index: 3;
    padding-bottom: 3em;
    h3 {
      text-align: center;
      padding-top: 1em;
      font-weight: 100;
    }
    p {
      position: absolute;
      right: 1.5%;
      font-weight: 100;
      letter-spacing: 1px;
    }
    .checkpoint {
      position: relative;
      p {
        padding-top: .3em;
        font-weight: bolder;
        &:nth-child(1) {
          position: absolute;
          left: 17%;
          bottom: 0;
        }
        &:nth-child(2) {
          position: absolute;
          left: 37%;
          bottom: 0;
        }
        &:nth-child(3) {
          position: absolute;
          left: 57%;
          bottom: 0;
        }
        &:nth-child(4) {
          position: absolute;
          left: 77%;
          bottom: 0;
        }
      }
    }
    .goalProgress {
    	background: #272337;
    	padding: 5px;
      border-radius: 25px;
    }
    div.progressBar {
			background-image: linear-gradient(190deg, #CE93D8 23%, #BA68C8 75%);
    	color: #fff;
    	letter-spacing: 1px;
    	font-weight: 100;
    	padding: 10px;
    	display: block;
    	width: 20px;
      border-radius: 25px;
      text-align: right;
      position: relative;
    }
    span.goalAmount {
    	display: none;
    	text-indent: -9999px;
    }
  }

  .top {
    padding-top: 3em;
  }




}
