.table {
  padding-top: 80px;
  padding-bottom: 6em;
  color: white;
  font-weight: 100;
  position: relative;
  .main__title {
    padding-bottom: 1em;
    &:after {
      bottom: 40%;
    }
  }
  table {
    position: relative;
    z-index: 3;
  }
  &:after {
    content: "";
    width: 28%;
    height: 180%;
    background-image: url("../images/participants.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: -300px;
    left: 0;
    position: absolute;
    z-index: 1;
  }
  .btn {
    text-align: center;
    padding: 3em 0;
    a {
      color: white;
      text-decoration: underline;
    }
  }
}
